<li class="result-item">
    <div class="row">
        <div class="col s2">
            <img class="prof-pic" src="{{prof_photo}}" alt="Profile Picture">
        </div>
        <div class="col s7">
            <p class="name-title">
                <span class="name">
                    {{prof_first_name}} {{prof_last_name}}
                </span>
                <span>-</span>
                <span class="title">
                    {{prof_title}}
                </span>
            </p>
            <p class="specialties">Specialties: {{#if prof_specialty1}}
                <span class="specialty1">
                    {{prof_specialty1}}
                </span>
                {{/if}} {{#if prof_specialty2}}
                <span>|</span>
                <span class="specialty2">
                    {{prof_specialty2}}
                </span>
                {{/if}} {{#if prof_specialty3}}
                <span>|</span>
                <span class="specialty3">
                    {{prof_specialty3}}
                </span>
                {{/if}}
            </p>
            <p class="gender">Gender: {{prof_gender}}</p>
            <p class="years">Years Practiced: {{prof_years}}</p>
            <p class="languages">Languages: {{#if prof_language1}}
                <span class="language1">
                    {{prof_language1}}
                </span>
                {{/if}} {{#if prof_language2}}
                <span>|</span>
                <span class="language2">
                    {{prof_language2}}
                </span>
                {{/if}} {{#if prof_language3}}
                <span>|</span>
                <span class="language3">
                    {{prof_language3}}
                </span>
                {{/if}}
            </p>
            <p class="insurance">Insurance Accepted: {{#if prof_insurance1}}
                <span class="insurance1">
                    {{prof_insurance1}}
                </span>
                {{/if}} {{#if prof_insurance2}}
                <span>|</span>
                <span class="insurance2">
                    {{prof_insurance2}}
                </span>
                {{/if}} {{#if prof_insurance3}}
                <span>|</span>
                <span class="insurance3">
                    {{prof_insurance3}}
                </span>
                {{/if}}
            </p>
        </div>
        <div class="col s3">
            <div class="practice-info">Practice Info:
                <p class="street">{{prof_street}}</p>
                <p class="city">{{prof_city}},</p>
                <p class="state">{{prof_state}}</p>
                <p class="zip">{{prof_zip}}</p>
                <p class="email">{{prof_email}}</p>
                <p class="phone">{{prof_phone}}</p>
            </div>
        </div>
    </div>
</li>